.file-manager {
  padding: 8px 14px;
  border: 1px solid #333;
  border-radius: 10px;
  display: inline-block;
}

::-webkit-scrollbar {
  width: var(--finger-width);
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-width: calc(0.4 * var(--finger-width));
  border-style: solid;
  border-color: var(--background-color);
  border-radius: var(--finger-width);
}
